.git/
build/*
.DS_Store
ble tdx/farmland smk.xcodeproj/xcuserdata/*
ble tdx/farmland smk.xcodeproj/project.xcworkspace/xcuserdata/*
ble tdx/Carthage/Checkouts/*
ble tdx/Carthage/Build/Mac/*
ble tdx/Carthage/Build/tvOS/*
ble tdx/Carthage/Build/watchOS/*